@model Quizer.Models.Quizzes.QuizViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Quiz</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeLimit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeLimit)
        </dd>
    </dl>
    
    @foreach (var question in Model.Questions)
    {
        <tr>
            <td>
            @Html.DisplayFor(modelItem => question.Title)
            </td>
        </tr>
    }
</div>
<div>
    <a asp-controller="Quiz" asp-action="Index">Back to List</a>
</div>
